In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Kalamare,-22.9337,26.5703,60.89,25,0,6.91,BW,2021-07-31 16:03:34
1,1,Cape Town,-33.9258,18.4232,64.35,71,80,1.99,ZA,2021-07-31 16:03:34
2,2,Prince Albert,53.2001,-105.7677,76.89,33,0,4.05,CA,2021-07-31 16:03:35
3,3,Qaanaaq,77.4840,-69.3632,42.62,85,56,2.66,GL,2021-07-31 16:03:35
4,4,Saint-Philippe,-21.3585,55.7679,71.19,74,49,16.49,RE,2021-07-31 16:03:36

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
fig

NameError: name 'temps' is not defined

In [11]:
# Heatmap of Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Prince Albert,53.2001,-105.7677,76.89,33,0,4.05,CA,2021-07-31 16:03:35
5,5,Atuona,-9.8000,-139.0333,76.46,73,34,12.12,PF,2021-07-31 16:03:36
6,6,Niefern-Oschelbronn,48.9167,8.7833,78.12,56,66,9.51,DE,2021-07-31 16:01:56
9,9,Yumen,40.2833,97.2000,81.93,17,84,28.74,CN,2021-07-31 16:03:38
12,12,Kijang,35.2442,129.2139,80.35,87,100,3.56,KR,2021-07-31 16:03:39
13,13,Hasaki,35.7333,140.8333,75.60,92,98,11.86,JP,2021-07-31 16:02:05
14,14,Bengkulu,-3.8004,102.2655,76.78,89,59,4.88,ID,2021-07-31 16:03:40
16,16,El Dovio,4.5079,-76.2362,76.96,62,67,0.72,CO,2021-07-31 16:03:41
28,28,Minggang,32.4586,114.0486,81.43,81,0,5.37,CN,2021-07-31 16:03:49
32,32,La Romana,18.4273,-68.9728,86.36,74,40,6.91,DO,2021-07-31 16:03:52

In [17]:
preferred_cities_df.count()

City_ID       91
City          91
Lat           91
Lng           91
Max Temp      91
Humidity      91
Cloudiness    91
Wind Speed    91
Country       91
Date          91
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
2         Prince Albert      CA     76.89  53.2001 -105.7677
5                Atuona      PF     76.46  -9.8000 -139.0333
6   Niefern-Oschelbronn      DE     78.12  48.9167    8.7833
9                 Yumen      CN     81.93  40.2833   97.2000
12               Kijang      KR     80.35  35.2442  129.2139
13               Hasaki      JP     75.60  35.7333  140.8333
14             Bengkulu      ID     76.78  -3.8004  102.2655
16             El Dovio      CO     76.96   4.5079  -76.2362
28             Minggang      CN     81.43  32.4586  114.0486
32            La Romana      DO     86.36  18.4273  -68.9728

In [19]:
#base url for retrieving nearby hotels, based off Google Places
# https://maps.googleapis.com/maps/api/place/nearbysearch/json
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels
len(hotels["results"])

20

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Prince Albert,CA,76.89,53.2001,-105.7677,"Holiday Inn Express & Suites Prince Albert, an..."
5,Atuona,PF,76.46,-9.8000,-139.0333,Villa Enata
6,Niefern-Oschelbronn,DE,78.12,48.9167,8.7833,Best Western Queens Hotel Pforzheim-Niefern
9,Yumen,CN,81.93,40.2833,97.2000,
12,Kijang,KR,80.35,35.2442,129.2139,Samyang Beach Villa
13,Hasaki,JP,75.60,35.7333,140.8333,Hotel Sunrise Choshi
14,Bengkulu,ID,76.78,-3.8004,102.2655,Grage Hotel Bengkulu
16,El Dovio,CO,76.96,4.5079,-76.2362,Julián
28,Minggang,CN,81.43,32.4586,114.0486,Yindu Hotel
32,La Romana,DO,86.36,18.4273,-68.9728,Casa de Campo Resort and Villas

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))