## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys
sys.path.insert(0, '..')
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,0,Hambantota,LK,79.70,overcast clouds,6.1241,81.1185,Bungalow 63
1,1,Ribeira Grande,PT,77.40,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
2,7,Ixtapa,MX,85.23,broken clouds,20.7000,-105.2000,Hotel Plaza Providencia
3,12,Menongue,AO,78.75,few clouds,-14.6585,17.6910,Ritz Lauca
4,14,Komsomolskiy,UZ,83.12,overcast clouds,40.4272,71.7189,Ikathouse

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "San Antonio") & (vacation_df["Hotel Name"] == "Drury Plaza Hotel San Antonio Riverwalk")]

vacation_end = vacation_df.loc[(vacation_df["City"] == "San Antonio") & (vacation_df["Hotel Name"] == "Drury Plaza Hotel San Antonio Riverwalk")]

vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Del Rio") & (vacation_df["Hotel Name"] == "Holiday Inn Express & Suites del Rio, an IHG Hotel")]

vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ojinaga") & (vacation_df["Hotel Name"] == "Suites Las Palmas")] 

vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Safford") & (vacation_df["Hotel Name"] == "SpringHill Suites by Marriott Thatcher")]

In [6]:
vacation_start

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
224,582,San Antonio,US,77.02,moderate rain,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk

In [7]:
vacation_stop1

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
202,523,Del Rio,US,75.31,light rain,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."

In [8]:
vacation_stop2

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
254,658,Ojinaga,MX,82.58,broken clouds,29.5667,-104.4167,Suites Las Palmas

In [9]:
vacation_stop3

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
255,660,Safford,US,85.51,clear sky,32.834,-109.7076,SpringHill Suites by Marriott Thatcher

In [10]:
vacation_end

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
224,582,San Antonio,US,77.02,moderate rain,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,582,San Antonio,US,77.02,moderate rain,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
1,523,Del Rio,US,75.31,light rain,29.3627,-100.8968,"Holiday Inn Express & Suites del Rio, an IHG H..."
2,658,Ojinaga,MX,82.58,broken clouds,29.5667,-104.4167,Suites Las Palmas
3,660,Safford,US,85.51,clear sky,32.8340,-109.7076,SpringHill Suites by Marriott Thatcher

In [14]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))